:root {
  --main-gold: #e3b21e;
  --royal-purple: #830aff;
  --whiteish: #f1f1f1;
  --eggshell: #FAF6F4;
  --baby-blue: #4087fe;
  --light-pink: #f99cc5;
  --pure-yellow: #fff200;
  --grey: #464646;
  --light-blue: #6dcff6;
}