/* Padding */
.px-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-02 {
  padding-top: 0.2rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}


/* Margin */

.mr-1 {
  margin-right: 1rem;
}

.m-2 {
  margin: 1rem;
}

/* Line height */
.lh-0 {
  line-height: 1rem;
}