/* Padding */
.px-5 {
  padding-inline: 5px;
}

.pt-3 {
  padding-top: 3px;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}


/* Margin */
.mt--1 {
  margin-top: -1px;
}

.mr-1 {
  margin-right: 1rem;
}

.m-2 {
  margin: 2
}

/* Line height */
.lh-0 {
  line-height: 1rem;
}