@import url(https://fonts.googleapis.com/css?family=Lato:700);

@import "about.css";
@import "circle.css";
@import "colors.css";
@import "employment.css";
@import "skills.css";
@import "spacing.css";
@import "tab.css";

body {
  margin-left: 5rem;
  margin-right: 5rem;
  background: var(--grey);
  color: var(--light-blue);
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 10px;
}

.header {
  text-align: center;
}

a,
a:hover,
a:visited {
  color: var(--light-blue);
  /* text-decoration: none; */
}

.fade-in-text {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}