.tab-nav-container {
  display: flex;
  height: 35px;
  justify-content:start;
}

.tab-nav-item {
  font-size: 20px;
  border-color: darkgrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  margin-right: 5px;
}

.selected-tab {
  color: var(--baby-blue);
  font-size: 22px;
  border-width: 2px;
  border-radius: 2px;
  padding-top: 0px;
}

.hidden-tab-content {
  display: none;
}