.tab-nav-container {
  display: flex;
  height: 35px;
  justify-content:start;
}

.tab-nav-item {
  font-size: 20px;
  border-color: var(--very-dark-grey);
  border-style: solid;
  border-width: 2px;
  border-radius: 1px;
  margin-right: 5px;
  text-decoration: none;
}

.tab-nav-item:hover {
  border: none;
  margin-left: 2px;
  margin-right: 7px;
  margin-top: 2px;
}